SUPABASE_URL=https://ocfebclwyxnvbdtezygp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9jZmViY2x3eXhudmJkdGV6eWdwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5MTE2ODAsImV4cCI6MjA5MzQ4NzY4MH0.dBY7wBEjggS01iUE1yi1OChUrJXWi9Sm7ycKGkZIJ1w
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9jZmViY2x3eXhudmJkdGV6eWdwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzkxMTY4MCwiZXhwIjoyMDkzNDg3NjgwfQ.yfDahQUa3VHkVqs4XUiUCTXy9xTb2vbi_Yko7s6B7vk
HF_API_KEY=
PORT=3000
